[Desktop Entry]
Version=0.0.0.a9eC
_Name=get2gnow
_Comment=A Twitter client
Exec=get2gnow
Icon=get2gnow
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Network;

