[Desktop Entry]
Version=1.0
_Name=Greet-Tweet-Know
_Comment=A Twitter client
Exec=greet-tweet-know
Icon=greet-tweet-know
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Network;

