[Desktop Entry]
Version=1.0
Name=Twitux
Name[es]=Twitux
Name[pt]=Twitux
Comment=A Twitter client
Comment[es]=Un cliente Twitter
Comment[ja]=Twitterクライアント
Comment[pt]=Um cliente Twitter
Exec=twitux
Icon=twitux
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Network;

